body {
  margin: 0 0;
  width: 100%;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
}

header {
  height: 50px;
  padding: 15px 30px;
  font-size: 13px;
}

header nav {
  position: relative;
  float: right;
  text-align: right;
}

header a {
  line-height: 30px;
  margin-left: 11px;
}

header a,
header a:visited {
  color: #444444
}

.apps,
.sign-in {
  margin-left: 18px;
}

.apps {
  width: 16px;
  height: 16px;
  background: url(../images/apps.png) no-repeat top left / 16px;
  cursor: default;
  display: inline-block;
  margin-bottom: -3px;
  opacity: 0.6;
}

.apps:hover {
  opacity: 1;
}

header a.sign-in {
  color: #fff;
  padding: 0 13px;
  font-weight: bold;
  font-size: 13px;
  cursor: default;
  display: inline-block;
  border-radius: 2px;

  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #4387fd),
    color-stop(1, #4185f0)
  );
  background-image: -o-linear-gradient(bottom, #4387fd 0%, #4185f0 100%);
  background-image: -moz-linear-gradient(bottom, #4387fd 0%, #4185f0 100%);
  background-image: -webkit-linear-gradient(bottom, #4387fd 0%, #4185f0 100%);
  background-image: -ms-linear-gradient(bottom, #4387fd 0%, #4185f0 100%);
  background-image: linear-gradient(to bottom, #4387fd 0%, #4185f0 100%);
}

header a.sign-in:hover {
  text-decoration: none;
  box-shadow: 0 0.5px 0 #aaa;
}

main {
  margin-left: auto;
  margin-right: auto;
  padding-top: 112px;
  width: 572px;
}

.logo {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 269px;
  height: 118px;
  background: url(../images/logo.png) no-repeat top left / 269px;
}

.country {
  position: absolute;
  bottom: 28px;
  right: -108px;
  color: #707070;
  font-weight: bold;
  font-size: 16px;
}

form[role="search"] {
  position: absolute;
}

form[role="search"] input {
  width: 552px;
  height: 26px;
  line-height: 19px;
  border: 1px solid #e0e0e0;
  padding: 1px 9px 1px 9px;
}

form[role="search"] input:hover,
form[role="search"] .control:hover + input {
  border-color: #b3b3b3;
}

form[role="search"] input:focus {
  outline-color: #0029FF;
  outline-width: 2px;
}

form[role="search"] .control {
  position: absolute;
  top: 0;
  right: 0;
  width: 14px;
  height: 19px;
  padding: 6px 8px 5px 8px;
  cursor: pointer;
  cursor: hand;
  opacity: 0.6;
}

form[role="search"] .control:hover {
  opacity: 0.8;
}

form[role="search"] .control .caret {
  display: none;
  position: absolute;
  top: 30px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
  z-index: 100;
}

form[role="search"] .control .description {
  position: absolute;
  width: 86px;
  top: 34px;
  left: -35px;
  padding: 5px 10px 5px 10px;
  background: rgb(5, 5, 5);
  font-weight: bold;
  color: #fff;
  font-size: 11px;
  display: none;
  box-shadow: 1px 1px 1px #000;
  border: 0.5px solid #fff;
  z-index: 90;
}

form[role="search"] .control:hover > .caret,
form[role="search"] .control:hover > .description {
  display: block;
}

form[role="search"] .voice {
  display: block;
  width: 14px;
  height: 19px;
  background: url(../images/voice.gif) no-repeat top left / 14px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
}

.buttons {
  margin-top: 14px;
  text-align: center;
}

.buttons > button {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #444444;
  background-color: #f5f5f5;
  border: 1px solid #d6d6d6;
  padding:6px 8px 7px 8px;
  font-size: 11px;
  border-radius: 2px;

  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #F5F5F5),
    color-stop(1, #F0F0F0)
  );
  background-image: -o-linear-gradient(bottom, #F5F5F5 0%, #F0F0F0 100%);
  background-image: -moz-linear-gradient(bottom, #F5F5F5 0%, #F0F0F0 100%);
  background-image: -webkit-linear-gradient(bottom, #F5F5F5 0%, #F0F0F0 100%);
  background-image: -ms-linear-gradient(bottom, #F5F5F5 0%, #F0F0F0 100%);
  background-image: linear-gradient(to bottom, #F5F5F5 0%, #F0F0F0 100%);
}

.buttons > button:hover {
  border: 1px solid #c6c6c6;
  border-bottom: 2px solid #c6c6c6;

  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #F9F9F9),
    color-stop(1, #F2F2F2)
  );
  background-image: -o-linear-gradient(bottom, #F9F9F9 0%, #F2F2F2 100%);
  background-image: -moz-linear-gradient(bottom, #F9F9F9 0%, #F2F2F2 100%);
  background-image: -webkit-linear-gradient(bottom, #F9F9F9 0%, #F2F2F2 100%);
  background-image: -ms-linear-gradient(bottom, #F9F9F9 0%, #F2F2F2 100%);
  background-image: linear-gradient(to bottom, #F9F9F9 0%, #F2F2F2 100%);
}

.buttons > .search {
  margin-right: 7px;
}

.buttons > .lucky {
  margin-left: 6px;
}

.languages {
  margin-top: 115px;
  text-align: center;
  font-size: 13px;
}

.languages a {
  margin-left: 3px;
  margin-right: 3px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.languages a:visited {
  color: rgb(0, 0, 238);
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  border-top: 1px solid #e4e4e4;
  background-color: #f3f3f3;

  font-size: 13px;
}

footer div {
  height: 40px;
}

footer a {
  line-height: 40px;
  padding-top: 12.5px;
  padding-bottom: 12px;
  margin-left: 13px;
  margin-right: 14px;
}

footer a,
footer a:visited {
  color: #676767;
}

.left {
  float: left;
}

.right {
  float: right;
}

footer .left {
  margin-left: 17px;
}

footer .right {
  margin-right: 16px;
}
